@charset "utf-8";

/* ブラウザのデフォルトをリセット */
html,
body,
h1,
h2,
p,
ul,
li {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

/* ページ全体の基本的なフォントや行の設定 */
body {
    /* font-family: 文字体 */
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}


/* header */
header {
    background: #186AC9;
    color: #fff;
    padding: 20px 20px;
}

.header__inner {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}


.header__logo {
    width: 100px;
    height: auto;
}

.header__guide {
    display: flex;
    align-items: center;
    width: auto;
}

.header__user,
.header__menu {
    white-space: nowrap;
}


.header__user {
    font-weight: bold;
    margin-right: 20px;
}

/* アコーディオンメニュー */
.header__menu {
    flex-wrap: nowrap;
    width: 50%;
}

.header__nav {
    display: none;
    position: fixed;
    border: 2px solid #191970;
    background-color: #fff;
    width: 100px;
    margin-right: 0;
    margin-left: 0;
    font-size: 20px;
    top: 100%;
}

.header__nav.active {
    display: block;
}

.nav--item {
    text-align: center;
    padding: 10px;
}


/* アコーディオンメニューのボタン */
.openbtn {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin-right: 20px;
    cursor: pointer;
    transform: rotate(45deg);
    transition: transform 0.3s;
    z-index: 998;
}

.openbtn.active {
    transform: rotate(225deg);
}

/* アイコン画像 */
.header__icon {
    /* margin-right: 20px; */
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}
